/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.FuelIn {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.Add_Distributors_to_Cart {width: 90%; background-color: #04AA6D;} /* Green */
.Complete_Purchase {width: 80%; background-color: #2196F3;} /* Blue */
.Visit_FuelIn {width: 65%; background-color: #f44336;} /* Red */
.Send_Inquiries {width: 60%; background-color: #808080;} /* Dark Grey */